<header>
    <div class="left_wrapper">
        <a href="https://resell.com.ua" target="_blank" class="logo"><span>Re</span>Sell</a>
    </div>
    <div class="right_wrapper">
        <ul>
            <li><a href="https://resell.com.ua/" target="_blank">ГЛАВНАЯ</a></li>
            <li><a ref="#guarantee">ГАРАНТИЯ</a></li>
            <li><a ref="#buy_with_check">ПРОВЕРКА</a></li>
            <li><a ref="#buy_with_check">ОПЛАТА</a></li>
            <li><a ref="#delivery">ДОСТАВКА</a></li>
            <li><a ref="#feedback">ОТЗЫВЫ</a></li>
            <li><a href="https://resell.com.ua/buy/1#check" target="_blank"><button class="btn-red">ХОЧУ КУПИТЬ</button></a></li>
        </ul>
    </div>
</header>
