<header>
    <div class="left_wrapper">
        <a href="https://resell.com.ua" target="_blank" class="logo"><span>Re</span>Sell</a>
    </div>
    <div class="right_wrapper">
        <ul>
            <li><a class="click" href="https://resell.com.ua">ГЛАВНАЯ</a></li>
            <li><a class="click" href="https://resell.com.ua/landing/buy#main_page">ГАРАНТИЯ</a></li>
           <li><a class="click" href="https://resell.com.ua/landing/buy#buy_with_check_mob">ПРОВЕРКА</a></li>
           <li><a class="click" href="https://resell.com.ua/landing/buy#buy_with_check_mob">ОПЛАТА</a></li>
           <li><a class="click" href="https://resell.com.ua/landing/buy#delivery">ДОСТАВКА</a></li>
           <li><a class="click" href="https://resell.com.ua/landing/buy#feedback">ОТЗЫВЫ</a></li>
            <li><a href="https://resell.com.ua/buy/1#check" target="_blank"><button class="btn-red">ХОЧУ КУПИТЬ</button></a></li>
        </ul>
    </div>
</header>
