.banner {
    height: 150px;
    width: 100%;
    margin-top: 56px;
    background:url('../img/bannerMob.png') no-repeat center center;
    background-size: cover;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    >div{
        >img{
           width: 33px;
           height: 33px;
        }
    }
}


@media screen and (min-width: 1024px) {
    .banner {
        font-size: 60px;
        height: 588px;
        text-align: center;
        background:url('../img/banner.png') no-repeat center center;
        background-size: cover;
        margin-top: 90px;
        padding-top: 50px;
        >div{
            display: block;
            >img{
                width: 77px;
                height: 77px;
            }
        }
    }

}
